<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="fonts/nunito.css" rel="stylesheet">
    <script src="scripts/lodash.js"></script>
    <!-- MUI -->
    <link href="styles/materialize.min.css" rel="stylesheet" type="text/css" />
    <!-- Bulma -->
    <link href="styles/bulma.min.css" rel="stylesheet" type="text/css" />
    <!--toast-->
    <link rel="stylesheet" type="text/css" href="styles/mdtoast.min.css">
    <script type="text/javascript" src="/scripts/mdtoast.min.js"></script>

    <script src="scripts/vue.js"></script>
    <script src="scripts/axios.min.js"></script>

    <link rel="stylesheet" href="styles/index.css">
    <script src="scripts/index.js"></script>

    <title>Bitbucket to Github</title>
</head>
<body>
<section id="app" class="hero">
    <nav v-cloak class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="images/bitbucket.png" width="112" height="28">
            </a>
            <span class="has-text-black">to</span>
            <a class="navbar-item" href="/">
                <img src="images/github.png" width="85" height="28">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div v-if="userInfo.display_name" id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a v-if="!loginInfo.githubAuthenticated" :disabled="loading || githubLoading" target="_self" :href="`https://github.com/login/oauth/authorize?client_id=${githubClientId}`" class="button is-primary navbar-item no-cursor waves-effect waves-light btn">
                            <strong>Authorize Github</strong>
                        </a>
                        <span class="button is-primary navbar-item no-cursor">
                            <strong>{{userInfo.display_name}}</strong>
                        </span>
                        <a @click="logout()" class="button is-light waves-effect waves-light btn">
                            Log out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div v-cloak class="hero-body">

        <div v-if="!loggedIn" class="container">
            Login with
            <figure class="image">
                <a target="_self" :href="`https://bitbucket.org/site/oauth2/authorize?client_id=${bitbucketClientId}&response_type=token`"><img id="login-logo" alt="Bitbucket" src="images/bitbucket.png"></a>
            </figure>
        </div>
        <div v-if="loggedIn" class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter has-text-centered">
                    <div :class="{'has-text-centered': true, 'is-invisible': !loading}">
                        <div class="progress">
                            <div class="indeterminate"></div>
                        </div>
                        {{loadingMessage}}...
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-6 has-text-centered">
                    <div class="title">
                        Your Bitbucket Repos
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="repo in repos.values">
                            <td><a target="_blank" :href="`https://bitbucket.org/${repo.full_name}`">{{repo.name}}</a></td>
                            <td><button class="waves-effect waves-light btn-small" @click="copy(repo.slug, repo.name)">Copy to Github</button></td>
                        </tr>
                        </tbody>
                    </table>
                    <div v-if="repos.values">
                        <button class="waves-effect waves-light btn-small" @click="getUserRepos(repos.previous)" :disabled="!repos.previous">Previous page</button>
                        Page {{repos.page}}
                        <button class="waves-effect waves-light btn-small" @click="getUserRepos(repos.next)" :disabled="!repos.next">Next page</button>
                    </div>
                    <br>
                    <button class="waves-effect waves-light btn-large" :disabled="loading || !_.isEmpty(repos)" @click="getUserRepos()">Get Repos</button>
                </div>
                <div class="column is-6 has-text-centered">
                    <div class="title">
                        In progress
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Repo</th>
                            <th>Status message</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="progress in transfersInProgress">
                            <td><a target="_blank" :href="`https://bitbucket.org/${progress.repo_slug}`">{{progress.repo_slug}}</a></td>
                            <td>{{progress.message}}</td>
                            <th>
                                <button class="waves-effect waves-light btn-small" @click="copy(progress.repo_slug, progress.repo_slug)" :disabled="showStatus(progress) !== 'Retry'">{{showStatus(progress)}}</button>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                    <div v-if="transfersInProgress.length === 0">
                        No transfers currently in progress
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
